        <div>
            <%= f.label :pnom, "Prenom" %>: &nbsp;
            <%= f.text_field :pnom %>
        </div>
        <br />
        
        <div>
            <%= f.label :nom %>: &nbsp;
            <%= f.text_field :nom %>
        </div>
        <br />
        
        <div>
            <%= f.label :pseudo %>: &nbsp;
            <%= f.text_field :pseudo %>
        </div>
        <br />
        
        <div>
            <%= f.label :mot_de_passe %>: &nbsp;
            <%= f.password_field :mot_de_passe %>
        </div>
        <br />
        
        <div>
            <%= f.label :mot_de_passe_confirmation, "verification_de_mot_de_passe" %>: &nbsp;
            <%= f.password_field :mot_de_passe_confirmation %>: &nbsp;
        </div>
        <br />
        
        <div>
            <%= f.label :email %>: &nbsp;
            <%= f.text_field :email %>
        </div>
        <br />
        
        <div>
            <%= f.label :pays %>: &nbsp;
            <%= f.text_field :pays %>
        </div>
        <br />

        <div>
            <%= f.label :ville %>: &nbsp;
            <%= f.text_field :ville %>
        </div>
        <br />

        <div>
            <%= f.label :adresse %>: &nbsp;
            <%= f.text_field :adresse %>
        </div>
        <br />

        <div>
            <%= f.label :telephone, "Téléphone" %>: &nbsp;
            <%= f.text_field :telephone %>
        </div>
        <br />