<h2>Mise à jour d'informations du client: <%= @produit.nom %> </h2>

<%= form_for :produit, :url => {:action => 'update', :utilisateur_id => @current_user.id, :id => @produit.id}, :method => :patch do |form| %>

<fieldset>
    <legend>Informations du produit</legend>
<%= render :partial => 'form', :locals => {:f => form} %>
<div>
    <%= submit_tag "Mettre à jour", :class => "submit" %> &nbsp;
    <%= link_to "Annuler", {:action => "index", :utilisateur_id => @current_user.id}, :class => "cancel" %>
</div>
</fieldset>



<% end %>