<div>
    <%= f.label :nom %>:
    <%= f.text_field :nom, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :pays %>:
    <%= f.text_field :pays, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :ville %>:
    <%= f.text_field :ville, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :adresse %>:
    <%= f.text_field :adresse, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :adresse_suite %>:
    <%= f.text_field :adresse_suite, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :email %>:
    <%= f.text_field :email, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :tel_travail %>:
    <%= f.text_field :tel_travail, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :tel_domicile %>:
    <%= f.text_field :tel_domicile, :class => "input_field" %>
</div>
<br/>
<div>
    <%= f.label :tel_portable %>:
    <%= f.text_field :tel_portable, :class => "input_field" %>
</div>
<br/>  